extends layout

block content
    #container

    div#tag.before
        h1 CUBES
        p Small WebGL demo leveraging&nbsp;
            a( href="http://threejs.org/" ) THREE.js

        ul
            li
                a( href="https://github.com/MathiasPaumgarten/hair" ) Github

        span by &nbsp;
            a( href="http://mathias-paumgarten.com" ) Mathias Paumgarten

